
<div class="bdi-2 products row">
    <div class="columns large-12">
        <div class="row bdi2">

            <div id="bd2Ctr" data-toggle="bd2Modal" class="columns small-12">
                <div class="card">
                    <div class="card-divider" style="background-image: url('../../assets/img/hack/logos/beck_bdi_ii_logo.png')">
                        BDI - II
                    </div>
                    <div class="card-section">
                        <div id="bdi2Holder" class="responsive-embed full">
                            <!-- iframe width="420" height="auto" src="https://pearsonclinical.eu.qualtrics.com/jfe/form/SV_1IikSYAFbJJX7Vj" frameborder="0" allowfullscreen></iframe -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    window.PAGE_NAME = 'bdi2';
</script>