 <div class="columns large-12">
        <div class="row assessments">

            <div id="bd2Ctr"  class="columns large-4 medium-6 small-12">
                <a href="javascript: assessments.administerBdi('bdi-2.html', 'bd2Modal')">
                <div class="card">
                    <div class="card-divider" style="background-image: url('../assets/img/hack/logos/beck_bdi_ii_logo.png')">
                        BDI - II
                    </div>                    
                    <div class="card-section">
                        Start Assessment
                    </div>
                </div>
                </a> 
            </div>

             <div id="baiCtr"  class="columns large-4 medium-6 small-12 ">
                <a href="javascript: assessments.administerBai('bai.html', 'baiModal')">
                <div class="card">
                    <div class="card-divider" style="background-image: url('../assets/img/hack/logos/BAI_clr_blk.png')">
                        BAI 
                    </div>                    
                    <div class="card-section">
                        Start Assessment
                    </div>
                </div>
                </a> 
            </div>

             <div id="innerViewCtr"  class="columns large-4 medium-6 small-12 end ">
                <a href="javascript: assessments.administerBai('innerView.html', 'innerViewModal')">
                <div class="card">
                    <div class="card-divider" style="background-image: url('../assets/img/hack/logos/Innerview_Color_Small_SM.png')">
                        InnerView 
                    </div>                    
                    <div class="card-section">
                        Start Assessment
                    </div>
                </div>
                </a> 
            </div>            

        </div>

        <div class="row assessments">
             <div id="innerViewCtr"  class="columns large-4 medium-6 small-12 ">
                <a href="javascript: assessments.administerBai('bbhi2.html', 'bbhi2Modal')">
                <div class="card">
                    <div class="card-divider" style="background-image: url('../assets/img/hack/logos/BBHI2_Logo_4C.png')">
                        BBHI2 
                    </div>                    
                    <div class="card-section">
                        Start Assessment
                    </div>
                </div>
                </a> 
            </div>

             <div id="innerViewCtr"  class="columns large-4 medium-6 small-12 ">
                <a href="javascript: assessments.administerBai('bhs.html', 'bhsModal')">
                <div class="card">
                    <div class="card-divider" style="background-image: url('../assets/img/hack/logos/BHS_clr_blk.png')">
                        BHS 
                    </div>                    
                    <div class="card-section">
                        Start Assessment
                    </div>
                </div>
                </a> 
            </div>

            <div id="innerViewCtr"  class="columns large-4 medium-6 small-12 end">
                <a href="javascript: assessments.administerBai('bss.html', 'bssModal')">
                <div class="card">
                    <div class="card-divider" style="background-image: url('../assets/img/hack/logos/BSS_clr_blk.png')">
                        BSS 
                    </div>                    
                    <div class="card-section">
                        Start Assessment
                    </div>
                </div>
                </a> 
            </div>
        </div>
    </div>