@import 'settings';
@import 'mixins';

@mixin default_button() {
    background-color: $white;
    border-color: scale-color($medium-gray, $lightness: 55%);
    color: $body-font-color;
    &:hover, &:focus {
        color: $body-font-color;
        border-color: scale-color($medium-gray, $lightness: 35%);
        background-color: $white;
    }
}

.button {
    /* to add our default style */
    @include default_button;
    &:not(.disabled) {
        @include add_ripple_effect;
    }
    
    &.secondary {
        color: $btn-primary-color;
        &:hover {
         color: $btn-primary-color;   
        }
    } 
    &.disabled,
    &[disabled] {
        @include button-disabled();  
    }
     
    &.hollow {
        @include button-hollow();       
    } 

    &.flat {
        border: none;
        background: transparent;  
        color: $body-font-color;      
        &:hover {
            background-color: scale-color($medium-gray, $lightness: 35%); 
            border: none;
        }
        
        
        @each $name, $color in $foundation-palette {      
                &.#{$name} {                    
                    color: $color;
                    &:hover {                
                            background-color: scale-color($color, $lightness: 75%);
                    }                    
                }     
        } 
        
    }

    .badge {
        font-weight: bold;
        border-radius: 8px;
        margin-left: 1.2rem;
    }

    

}