$alert-callout-border-left-width: rem-calc(5);
$alert-callout-border-padding: 1.3rem;
$alert-callout-border-radius: 0.6rem;

.alert-callout-border {
  width: 100%;
  padding: $alert-callout-border-padding;
  .fa {
    color: $white;
  }
  span.content {
    @include vertical-center;
    color: $white;
    margin-left: 5px;
    top: 52%;
  }


  .close-button {
    @include vertical-center;
  }

  &.radius {
    border-radius: $alert-callout-border-radius;
  }

  &.primary {
    border-left-color: $primary-color;

    strong {
      color: $primary-color;
    }
    
  }

  &.secondary {
    border-left-color: $secondary-color;

  
  }

  &.alert {
    border-left-color: $alert-color;

   
  }

  &.success {
    border-left-color: $success-color;

  
  }

  &.warning {
    border-left-color: $warning-color;

  
  }
}

.callout.alert-callout-border {
  @each $name, $color in $button-palette {
      &.#{$name} {
        .close-button {
          color: $light-gray;
        }
      }
  }
}

