

@mixin form-input-error(
  $background: $input-background-invalid  
) {
  &:not(:focus) {
    border-color: $background;
    background-color: $white;
    &::placeholder {
      color: $body-font-color;
    }
  }
}

@mixin form-input-group-error($background: $input-background-invalid ) {
    .input-group {
        .input-group-label {
            border-color: $background;
            background-color: $white; 
        }
    }
}

@mixin form-error-common($color, $icon) {
    color: get-color($color);
    &::before {
        font-family: FontAwesome;
        margin-right: 0.2rem;
        color: get-color($color);
        content: $icon;
        font-size: $input-error-font-size + rem-calc(4);
    }
}

@mixin form-error-types() {
    @include form-error-common('alert', "\f071");
   
    &.alert {                   
            @include form-error-common('alert', "\f071");        
    }
    &.info {
        @include form-error-common('info', "\f05a");      
    }
    &.warning {
        @include form-error-common('warning', "\f071");     
    }
    &.success {
        @include form-error-common('success', "\f058");     
    }

    &.title {
        margin-bottom: 0.5rem;
        color: get-color(info);
        font-weight: $global-weight-bold;
        &::before {
            display: none;           
        }
    }
}

@mixin form-field-container($baseColor: $medium-gray) {
    
    color: get-color(secondary);
    padding: $global-padding;
    margin-top: $form-spacing * -0.9;  
    border: 1px solid $baseColor;
    border-radius: $global-radius; 
    z-index: 2222;
    .form-error {
        margin-top: 0;
        margin-bottom: 0;
        display: block;
        @include form-error-types;
    }
    &::before {
        @include css-triangle($tooltip-pip-width, $baseColor, up);  
        bottom: 100%;
        left: 20%;
        transform: translateX(-50%);  
        position: absolute;       
    }
    &::after {
        @include css-triangle($tooltip-pip-width - 0.05, $white, up);  
        bottom: 100%;
        left: 20%;
        transform: translateX(-50%);  
        position: absolute;       
    }         
}


.form-fld {
    position: relative;
    .fld-error-ctr {
            box-shadow: 3px 3px 1px 0 rgba($medium-gray, 0.4);
            position: absolute;
            @include form-error;
            @include form-field-container; 
            background-color: $white;                  
    }

    &.invalid {
        #{text-inputs()},  textarea {
            @include form-input-error;            
        }
        @include form-input-group-error;
        .fld-error-ctr {            
            display: inline-block;
            @include animate_hinge_in;                 
        }        
    }
}
