$hero-height: 100vh;
.login {
    .hero-background {
        height: $hero-height;
        background-color: rgba(54, 54, 54, 0.8);
      
        background-image: url('../img/hero_large_hack.jpg');
     
        background-size: cover;
        color: #fefefe;
        padding: 40px 0;
        .login-content {
           position: absolute;
           top: 80%;
           left: 80%;
           transform: translate(-80%, -80%);
           width: 100%;
        }
    }
    $translucent-form-overlay-max-width: 500px;

    .translucent-form-overlay {
        width: 100%;
        background-color: rgba(54, 54, 54, 0.8);
        padding: 20px;
        color: $white;

        // workaround 6.3.0 bug
        .columns.row {
            display: block;
        }

       
    }
}