$p1-modal-header-fa: (
  primary: (icon: $fa-var-info-circle, color: $primary-color),
  success: (icon: $fa-var-check,color: $success-color),
  warning: (icon: $fa-var-warning,color: $warning-color),
  alert: (icon: $fa-var-times-circle,color: $alert-color)
);
.reveal {
    &.with-title {
        //min-height: 200px;
        min-width: 200px;
        padding: 0;
        .header, .footer {
            padding: $global-padding;
            background-color: $pale-gray;
        }
        .footer {
            background-color: $white;
           // position: absolute;
           // bottom: 0;
        }
        .content {
            padding: $global-padding + 2rem;
        }
        .close-button {
            span {
                font-size: smaller;
            }
        }
        
    }
    
    @include reveal-modal-header();
    @include reveal-modal-default-button();
   
}