.assessments {
    margin-bottom: 4rem;
    .card-section {
        cursor: pointer;
        background-color:  scale-color($medium-gray, $lightness: 75%); 
        color: $white; 
    }
    .card {
        &:hover {
            border-color: #3272bd;
            border-width: 2px;
            cursor: pointer;
        }
        .card-divider {
            color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.products {
    
    .card {
        &:hover {
            
        }
        .card-divider {
            color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}