.patient-grid {
    h3 {
  padding: 20px 0;
  text-align: center;
  font-size: 1.9em;
}

table {
  width: 100%;
  margin: 0;
}

table caption {
  font-size: .9em;
	padding: .5em 0;
}

table caption,
table tfoot tr td {
  font-weight: normal;
}

@media screen and (max-width: 766px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
}

.clients, .assessments, .clients-ctr {
  .card {
    border-radius: 10px;
    &:hover {
      border-color: #3272bd;
    }
    &.newclient {
      background: honeydew;

      .card-divider {
        background: darkseagreen;
        &:hover {
          cursor: pointer;
          background-color: darken(darkseagreen, 20);
        }
      }
    }
    .card-divider {
      .fa {
        &:hover {
          color: #3272bd;
          cursor: pointer;
        }
      }
    }
   
  }
  .columns {
    position: relative;
    /*.badge {
      position: absolute;
      top: -5px;
      left: 5px;
    }*/
  }
}

.clients-ctr {
    .columns {
      position: relative;
      .badge-ctr {
        position: absolute;
        top: -15px;
        left: 5px;
        
      }
    }
     .emotion {
      &.minimal {
        background-color: scale-color(map-get($foundation-palette, success), $lightness: 80%);
      }
      &.mild {
        background-color: scale-color(map-get($foundation-palette, warning), $lightness: 90%);
      }
      &.moderate {
        background-color: scale-color(map-get($foundation-palette, warning), $lightness: 80%);
      }
      &.severe {
        background-color: scale-color(map-get($foundation-palette, alert), $lightness: 40%);
      }
    }
}
