<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to P1 with Foundation</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <h3>We&rsquo;re stoked you want to try Foundation on ProjectOne! </h3>
     
 
    </div>
  </div>
</div>



<div class="row">
  <div class="column">
    <div class="callout">
      <h4>
        Callout Examples
      </h4>

      <div class="row">
        <div class="column large-centered">
          <h7>Trigger Notifications</h7>
        </div>
      </div>

       <div class="row">
        <div class="columns small-12 medium-4 large-3 ">
          <a id="yay" href="#" class="hollow expanded medium success button">Yay Message</a><br/>
        </div>
        <div class="columns small-12 medium-4 large-3 ">
          <a id="warn" href="#" class="hollow expanded medium warning button">Shane Warne</a><br/>
        </div>
         <div class="columns small-12 medium-4 large-3 ">
          <a id="danger" href="#" class="hollow expanded medium alert button">Achtung!</a><br/>
        </div>
        <div class="columns small-12 medium-4 large-3 ">
          <a id="info" href="#" class="hollow expanded medium primary button">What?</a><br/>
        </div>
         <div class="columns small-12 medium-4 large-3 end">
          <a id="combo" href="#" class="hollow expanded medium primary button">Combi</a><br/>
        </div>
      </div>

      

      <div class="row">
        <div class="column large-centered">
          {{>alerts}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="callout">
      <h4>
        Breadcrumbs
      </h4>
      <div class="row">
        <div class="column large-centered">
          {{>breadcrumbs}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="callout">
      <h4>
        Tooltips
      </h4>
      <div class="row">
        <div class="column large-centered">
          {{>tooltips}}
        </div>
      </div>
    </div>
  </div>
</div>  

<div class="row">
  <div class="column">
    <div class="callout">
      <h4>
        Modals
      </h4>
      <div class="row">
        <div class="column large-centered">
          {{>modals}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column large-12">
    <div class="callout">
      <h4>
        Buttons
      </h4>
      <div class="row">        
          {{>buttons}}        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column large-12">
    <div class="callout">
      <h4>
        CSS Arrow Panels
      </h4>
      <div class="row">  
        <div class="columns large-12">
           {{>arrow-callout}}   
        </div>      
           
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column large-12">
    <div class="callout">
      <h4>
        Expand Panels
      </h4>
      <div class="row">  
        <div class="columns large-12">
           {{>simple-expand-panel}}   
        </div>      
           
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column large-12">
    <div class="callout">
      <h4>
        Multilevel expand/collapse
      </h4>
      <div class="row">  
        <div class="columns large-12">
           {{>multi-level-expand-collapse}}   
        </div>      
           
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column large-12">
    <div class="callout">
      
        <h5>We bet you&rsquo;ll need a form somewhere:</h5>
      
      <div class="row">  
        <div class="columns large-12">
           {{>forms}}   
        </div>      
           
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 medium-8 columns">
    <h5>Here&rsquo;s your basic grid:</h5>
    <!-- Grid Example -->

    <div class="row">
      <div class="large-12 columns">
        <div class="primary callout">
          <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.callout element so you
            can see where the columns are - it's not required at all for the grid.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="primary callout">
          <p>Six columns</p>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="primary callout">
          <p>Six columns</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="primary callout">
          <p>Four columns</p>
        </div>
      </div>
    </div>

    <hr />

   
   
  </div>



</div>

