<h4>Select Assessment for <span id="asmt-patient-name"></span></h4>
<div class="row">
    <div class="columns large-12">
        <div class="row assessments">

            <div id="bd2Ctr"  class="columns large-4 medium-6 small-12">
                <a href="javascript: assessments.administerBdi('bdi-2.html', 'bd2Modal')">
                <div class="card">
                    <div class="card-divider" style="background-image: url('../assets/img/hack/logos/beck_bdi_ii_logo.png')">
                        BDI - II
                    </div>                    
                    <div class="card-section">
                        Start Assessment
                    </div>
                </div>
                </a> 
            </div>

        </div>

        <!-- div id="externalAssessment" class="row external-assessment hide">
            <div class="columns large-12">
                <div class="responsive-embed widescreen">
                    <iframe width="420"  src="https://pearsonclinical.eu.qualtrics.com/jfe/form/SV_1IikSYAFbJJX7Vj" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div -->


    </div>
</div>


<div class="fullscreen reveal" id="bd2Modal" data-reveal data-close-on-click="true" data-animation-in="spin-in" data-animation-out="spin-out">
 <div id="bdi2Holder" class="responsive-embed" style="height: 100%">
    <!-- iframe width="420"  src="https://pearsonclinical.eu.qualtrics.com/jfe/form/SV_1IikSYAFbJJX7Vj" frameborder="0" allowfullscreen></iframe -->
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script>
    window.PAGE_NAME = 'assessments';

</script>