<div class="row">
    
    <div class="columns large-6 small-12 medium-6">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
            <div class="flip-card-inner">
                <div class="flip-card-inner-front assessments">
                    <span>Mental Health Assessments</span>
                </div>
                <div class="flip-card-inner-back">
                    <h3 class="flip-card-inner-back-title">Choose an Assessment</h3>
                    <p class="flip-card-inner-back-text">Choose from this list of Pearson curated tools to assess your patients’ mental health. Each tool provides
a quick classification and is designed to effectively and efficiently screen for mental health challenges.</p>
                    <a href="javascript:localStorage.removeItem('selClient'); self.location = 'select_assessments.html'" class="button success">View Products</a>
                </div>
            </div>
        </div>
    </div>


    <div class="columns large-6 small-12 medium-6">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
            <div class="flip-card-inner">
                <div class="flip-card-inner-front patients">
                    <span>My Patients</span>
                </div>
                <div class="flip-card-inner-back">
                    <h3 class="flip-card-inner-back-title">Add and View Patients</h3>
                    <p class="flip-card-inner-back-text">Add a new patient to your list of those requiring a mental health screening. Or select from your list to
administer an assessment. Assessment results can also be accessed here for completed assessments..</p>
                    <a href="patients.html" class="button primary">View Inside</a>
                </div>
            </div>
        </div>
    </div>


    <div class="columns large-6 small-12 medium-6">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
            <div class="flip-card-inner">
                <div class="flip-card-inner-front network">
                    <span>Referral Network</span>
                </div>
                <div class="flip-card-inner-back">
                    <h3 class="flip-card-inner-back-title">Add and View Referral Partners</h3>
                    <p class="flip-card-inner-back-text">Enter and view a list of your local network of providers for more in-depth assessment or therapy. Add

new providers or refer directly to any of the providers on your list.</p>
                    <a href="referrals.html" class="button warning">Referrals</a>
                </div>
            </div>
        </div>
    </div>


    <div class="columns large-6 small-12 medium-6">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
            <div class="flip-card-inner">
                <div class="flip-card-inner-front tools">
                    <span>Tools & Settings</span>
                </div>
                <div class="flip-card-inner-back">
                    <h3 class="flip-card-inner-back-title">Optional Tools and Shortcuts</h3>
                    <p class="flip-card-inner-back-text">Import patients into the app from your Electronic Health Record (EHR), export to your EHR, generate a

referral and select application settings. Manage your content subscription here.</p>
                    <a href="#" class="button success">View Inside</a>
                </div>
            </div>
        </div>
    </div>


</div>