<h4>New Patient </h4>
<form name="newPatientForm" id="newPatientForm">
    <div class="row">
        <div class="medium-6 large-6 small-12 columns">
            <label>Patient Name
        <input name="patientName" type="text" placeholder="please provide patient name">
      </label>
        </div>

    </div>
    <div class="row">
        <div class="columns large-6 small-6 end">
            <label>Gender
                <div class="radio secondary radio-inline">
                    <input type="radio" id="gender" value="Male" name="gender" checked>
                    <label for="inlineRadio1"> Male </label>
        </div>
        <div class="radio radio-inline">
            <input type="radio" id="inlineRadio2" value="Female" name="gender">
            <label for="inlineRadio2"> Female </label>
        </div>
        </label>
    </div>
    </div>
     <div class="row">
        <div class="medium-6 large-6 small-12 columns">
            <label>DOB
        <input name="dob" type="text" placeholder="mm/dd/yyyy">
      </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 large-6 small-12 columns">
            <label>File Number
        <input name="fNumber" type="text" placeholder="please provide file number">
      </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 large-4 small-12 columns">
            <a href="javascript:clients.savePatient()" class="button expanded primary">Save Patient</a>
        </div>
        <div class="medium-4 large-4 small-12 columns end">
            <a href="javascript:clients.savePatientAndCreateAssessment()" class="button expanded primary">Save Patient and Create Assessment</a>
        </div>
    </div>
</form>

<script>
    window.PAGE_NAME = 'new_client';

</script>