<h4>Patients </h4>
<div class="row">
    <div class="columns large-12">
        <div class="row">
            <div class="small-10 medium-6 large-6 columns">
               <div class="input-group has-icon">
                    <input id="search-client" class="input-group-field" type="text" placeholder="Search Patients" />
                    <span class="input-group-label icon"><li class="fa fa-search"></li></span>
                </div>
            </div>
        </div>

        <div class="clients">
            <div class="row">
                <div class="medium-6 small-12 large-4 columns">
                    <a href="javascript:localStorage.removeItem('selClient'); self.location = 'new_patient.html'" class="primary expanded button"><i class="fa fa-plus"></i> Add New Patient</a><br/>  
                </div>
            </div>
        </div>


        <div id='client-ctr' class="clients-ctr">
            Loading ...
        </div>

        <script>
            window.PAGE_NAME = 'clients';
        </script>
    </div>
</div>


<div class="large reveal" id="repModal" data-reveal data-close-on-click="true" data-animation-in="hinge-in-from-top" 
data-animation-out="hinge-out-from-top">
 <div id="repModalCtr" class="responsive-embed" style="height: 100%">
    
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>