<div class="callout block" >
    <div class="block-vertical">
        <div class="block-vertical-quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris
                bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique
                sem rutrum.</p>
        </div>
    </div>

    <div class="block-vertical">
        <div class="block-vertical-quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris
                bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique
                sem rutrum.</p>
        </div>
    </div>
</div>