<div class="row">
    <div class="columns">
        <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Gear Settings.">
        <a href="" class="button hollow primary">
            <li class="fa fa-gear"></li>
        </a>
        </span>
    </div>

</div>

<div class="row">
    <div class="columns small-12">
       Now some tooltips with white bg
    </div>


    <div class="columns">        
            <span title="<p><b>Nemo enim ipsam</b></p> <p>Voluptatem quia voluptas sit aspernatur aut odit aut.</p>" 
            data-allow-html="true"  data-click-open="false"  data-tooltip data-tooltip-class="tooltip alt" class="right badge defaultSecond">?</span>        
    </div>

    <div class="columns large-offset-8 large-4">        
            <a  class="button primary expanded"
            title="<p><b>Nemo enim ipsam</b></p> <p>Voluptatem quia voluptas sit aspernatur aut odit aut.</p>"
            data-allow-html="true"  data-click-open="false"  data-tooltip data-tooltip-class="tooltip alt left"
            >On the Left</a>     
    </div>

    <div class="clear columns large-offset-3 end large-3">        
            <a  class="button primary expanded"
            title="<p><b>Nemo enim ipsam</b></p> <p>Voluptatem quia voluptas sit aspernatur aut odit aut.</p>"
            data-allow-html="true"  data-click-open="false"  data-tooltip data-tooltip-class="tooltip alt top"
            >On the top</a>     
    </div>
</div>