   <!-- side nav -->
        <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium"
            data-off-canvas>
            <div class="app-dashboard-sidebar-title-area">
                <div class="app-dashboard-close-sidebar">
                    <h3 class="app-dashboard-sidebar-block-title">Menu</h3>

                    <button id="close-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu"
                        type="button">
<span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-left"></i></a></span>
</button>
                </div>
                <div class="app-dashboard-open-sidebar">
                    <button id="open-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu"
                        type="button">
<span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
</button>
                </div>
            </div>
            <div class="app-dashboard-sidebar-inner">
                <ul class="menu vertical">
                    <li>
                        <a href="/hackathon/assessments.html" class="is-active">
                            <i class="primary large material-icons">assessment</i>
                            <span class="app-dashboard-sidebar-text">Assessments</span>
                        </a>
                    </li>
                    <li>
                        <a href="/hackathon/patients.html">
                            <i class="primary material-icons">person</i><span class="app-dashboard-sidebar-text">Patients</span>
                        </a>
                    </li>
                    <li>
                        <a href="multi-level-expand.html">
                            <i class="primary large material-icons">transfer_within_a_station</i><span class="app-dashboard-sidebar-text">Referral</span>
                        </a>
                    </li>
                    <li>
                        <a href="expand-panels.html" class="is-active">
                            <i class="primary large material-icons">build</i><span class="app-dashboard-sidebar-text">Tools</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>